.card {
    width: 12%;
    padding: 20px;
  border: 1px solid #918f8f;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #d8e8f3;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
    height: 100vh;
   margin: 0;
    justify-content: center;
    display: flex;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    content: center;
    align-items: center;

}
